# Byte-compiled / optimized / DLL files
__pycache__/
.vscode
bat.log
*.out
TPLE*
BAT/doc/dev_helper/LN 9016 Scheiben angesenkt.pdf
*.swp
BAT/doc/dev_helper/DIN 433 Teil 1 Scheiben.pdf
test_.inp
BAT_TPLE_files.zip